/* https://iconify.design/
https://feathericons.com/
https://formspree.io/ */

/* ------------------------------------------------------------------------------------------------------------------------------------------------ GLOBAL */
:root{
    --shdw-component: 2px 2px 4px rgba(0, 0, 0, 0.25);

    /* dark mode colour scheme */
    --clr-black-1: #0C0C0C;
    --clr-black-2: #161616;
    --clr-black-3: #1E1E1E;
    --clr-black-4: #262626;
    --clr-black-5: #2E2E2E;
    --clr-grey-1: #404040;

    --clr-red: #DA0037;

    --clr-text-grey: #A9A9A9; /*  another for dark grey */
    --clr-white-1: #EDEDED; /*  another for black but not 100% black */
    --clr-white-2: #F4F4F4; /*  another for darker black */


    /* light mode colour scheme */
    --clr-blue: #0039DA; 
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--clr-white-1);
    scrollbar-width: auto;
}

body::-webkit-scrollbar{
    width: 0.75rem;
}
.project-tags::-webkit-scrollbar-track,
.contact-wrapper .form-textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track{
    background-color: var(--clr-white-1);
}
.project-tags::-webkit-scrollbar-thumb,
.contact-wrapper .form-textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
    background-color: var(--clr-red);
}

.container{
    margin: 0 auto;
    width: 75%;
}
.main .container,
.contact-section .container{
    max-width: 3440px;
}

/* for firefox */
body,
.scrollable{
    scrollbar-color: var(--clr-red) var(--clr-white-1);
}

.tooltip-element::after,
.tooltip-element::before{
    position: fixed;
    background-color: rgba(237, 237, 237, 0.5);
    border: 1px solid var(--clr-red); 
    font-size: 1.1rem;
    white-space: nowrap;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    letter-spacing: 0.5px;
    color: var(--clr-black-1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease; 
}
.tooltip-element:hover::after,
.tooltip-element:hover::before{
    visibility: visible;
    opacity: 1;
}
.tooltip-element{
    height: 7.5rem;
    width: 7.5rem;
    border: none;
    cursor: pointer;
    user-select: none;
}
.tooltip-element img{
    padding: 1.5rem;
    border-radius: 10px;
}

.header .sidebar-btn::after,
.sidebar a::after,
.sidebar button::after{
    content: attr(data-tooltip);
    left: 8rem;
}

.skills-section,
.projects-section{
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.section-title{
    color: var(--clr-red);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-bottom: 10rem;
}

.btn{
    background-color: var(--clr-red);
    cursor: pointer;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: var(--shdw-component);
    border: 0;
    letter-spacing: 0.75px;
    text-decoration: none;
    color: var(--clr-black-1);
    display: inline-block;
}
.btn:hover{
    transform: translateY(-2.5px);
}
.btn:active{
    transform: translateY(0px);
}

/* ------------------------------------------------------------------------ HEADER */
.header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
.header button{
    background-color: var(--clr-black-1); 
    border: 2px solid var(--clr-black-2);  
    border-top: none;
    box-shadow: var(--shdw-component);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
.header img{ 
    background-color: var(--clr-black-2); 
    border: 1.5px solid var(--clr-black-3);  
}
.header .burger-menu-btn{
    border-bottom-left-radius: 15px;
    border-right: none;
}
.header .sidebar-btn{
    border-bottom-right-radius: 15px;
    border-left: none;
}
.header .burger-menu-btn::before{
    content: attr(data-tooltip);
    right: 8rem;
}
.header button:hover img {
    background-color: var(--clr-black-5); 
}

.burger-menu{
    position: fixed;
    right: 0;
    background-color: var(--clr-black-2); 
    border: 2px solid var(--clr-black-3);  
    width: 15rem;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-right: none;
    transition: right 0.25s ease;
    box-shadow: var(--shdw-component);
}
.burger-menu.closedState {
    right: -15rem; 
}
.burger-menu ul{
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}
.burger-menu li{
    margin: 0.5rem 0;
    border-radius: 10px;
    background-color: var(--clr-black-4); 
    border: 1.5px solid var(--clr-black-5); 
}
.burger-menu a{
    display: block;
    text-decoration: none;
    color: var(--clr-white-1);
    padding: 1.25rem 0;
    position: relative;
    font-size: 1.2rem;  
}
.burger-menu li:hover {
    background-color: var(--clr-grey-1); 
}

.burger-menu a:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-red);
    text-underline-offset: 0.8rem;
}


/* ------------------------------------------------------------------------ SIDEBAR */
.sidebar,
.burger-menu{
    margin-top: 9.375rem;
    z-index: 999;
}

.sidebar{
    position: fixed;
    top: 0;
    background-color: var(--clr-black-2); 
    border: 2px solid var(--clr-black-3); 
    border-left: none;
    border-bottom: none;
    height: calc(100vh - 9.375rem);
    min-width: 7.5rem;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: top 0.25s ease;
    box-shadow: var(--shdw-component);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.sidebar.closedState {
    top: 100vh;
}
.sidebar-socials{
    padding-top: 7.5rem;
    padding-bottom: 3.75rem;
}
.sidebar-logic{
    padding-bottom: 7.5rem;
    padding-top: 3.75rem;
}
.sidebar-divider{
    width: 80%;
    height: 0.2rem;
    background-color: var(--clr-red);
    margin: 0 auto;
}

.sidebar a,
.sidebar button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar img{
    background-color: var(--clr-black-4); 
    border: 1.5px solid var(--clr-black-5); 
}
.sidebar a:hover img,
.sidebar button:hover img{
    background-color: var(--clr-black-5); 
}

.sidebar::-webkit-scrollbar{
    width: 1.3rem;
}
.sidebar::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-thumb{
    border-top-right-radius: 20px;
    border-left: 7px solid var(--clr-black-2); 
}
.sidebar::-webkit-scrollbar-track{
    background-color: var(--clr-grey-1); 
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: var(--clr-red);
    border-top: 0.5px solid var(--clr-black-2); 
}


/* ------------------------------------------------------------------------ MAIN */
/* ABOUT */
.about-section{
    min-height: 100vh;
    background-color: var(--clr-grey-1); 
    display: flex;
    
}
.about-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 5rem;
}
.about-section .container > *{
    flex: 1;
}
.about-img {
    width: 100%;
    max-width: 50rem;
    min-width: 32.5rem;
}
.about-img img {
    border: 5px solid var(--clr-red);
    border-radius: 50%;
    object-fit:cover;
    width: 100%;
    user-select: none;
    box-shadow: var(--shdw-component);
}

.about-text{
    max-width: fit-content;
}
.about-text > *{
    letter-spacing: 1.5px;
    margin-bottom: 3.5rem;
}
.about-text h1{
    text-transform: capitalize;
    font-size: 5rem;
}
.about-text span{
    text-transform: uppercase;
    border-bottom: 5px solid var(--clr-red);
}
.about-text p{
    font-size: 2rem;
    max-width: 67.5rem;
}
.about-btn{
    border-right: 5px solid var(--clr-black-1); 
    border-bottom: 5px solid var(--clr-black-1); 
}


/* SKILLS */
.skills-section{
    background-color: var(--clr-black-4);
    border-top: 1px solid var(--clr-black-3);  
}
.skill-wrapper{
    margin-bottom: 10rem; 
}
.skill-wrapper:nth-child(5){
    padding-bottom: 10rem;
    border-bottom: 5px solid var(--clr-black-5); 
}
.title-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}
.title-wrapper h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.8rem;
    white-space: nowrap;
}
.skill-divider{
    width: 100%;
    height: 0.5rem;
    background-color: var(--clr-black-5); 
}
.skill-category-desc{
    margin-top: 2.5rem;
    color: var(--clr-text-grey); 
    font-size: 1.45rem;
    letter-spacing: 0.75px;
    font-style: italic;
}

.skill-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12.5rem);
    justify-content: center;
    gap: 0.2rem;
}

.card {
    height: 12.5rem;
    background-color: var(--clr-black-3); 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--clr-black-2); 
}
.card img{
    user-select: none;
    width: 40%;
}
.card span{
    text-transform: uppercase;
    color: var(--clr-red);
    letter-spacing: 0.75px;
    font-size: 1.4rem;
}

.skill-progression-bars .skill-progress:not(:last-child){
    margin-bottom: 5rem;
}

.skill-progress .card{
    aspect-ratio: 1 / 1;
    height: 17.5rem;
}
.skill-progress .card span{
    font-size: 1.6rem;
}
.skill-progress{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}
.progress-wrapper span{
    font-size: 1.4rem;
}
.progress-wrapper progress{
    height: 5rem;
    width: 100%;
    border-radius: 0;
    box-shadow:  var(--shdw-component);
}
.progress-wrapper progress,
.progress-wrapper progress::-webkit-progress-value {
    background-color: var(--clr-red); 
}
.progress-wrapper progress,
.progress-wrapper progress::-webkit-progress-value::after {
    height: 50rem;
    width: 50rem;
}
.progress-wrapper progress::-webkit-progress-bar {
    background-color: var(--clr-black-2); 
}
.progress-wrapper progress::-moz-progress-bar {
    background-color: var(--clr-black-2); 
}

.progress-wrapper{
    width: 59%;
}
.progress-wrapper div{
    display: flex;
    justify-content: space-between;
}
.progress-wrapper div span:nth-child(2){
   margin-left: 0.75rem;
}

/* .progress-wrapper progress::after{
    content: attr(value);
    position: absolute;
    color: var(--clr-white-2);
    font-weight: bold;
    font-size: 1.6rem;
} */

/* PROJECTS */
.projects-section{
    background-color: var(--clr-black-3); 
    border-top: 1px solid var(--clr-black-2); 
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
    gap: 5rem;
}
.project{
    background-color: var(--clr-black-2); 
    border: 1px solid var(--clr-black-1); 
    padding: 0 2rem;
    padding-top: 3.5rem;
    box-shadow: var(--shdw-component);
}

.project a{
    text-decoration: none;
    color: inherit;
}

.project-img-wrapper{
    height: 25rem;
}
.project-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.project h3{
    margin-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 1.8rem;
}

.project-divider{
    height: 0.1rem;
    width: 100%;
    background-color: var(--clr-black-5); 
    display: block;
    margin: 1.5rem 0;
}

.project p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 7rem;
    overflow: hidden;
    font-size: 1.5rem;
    color: var(--clr-text-grey); 
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn-container a{
    cursor: pointer;
    padding: 1.2rem 1.2rem;
    white-space: nowrap;
    text-decoration: none;
    color: initial;
}

.project-tags{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.project-tags div{
    background-color: var(--clr-black-3); 
    border: 1px solid var(--clr-black-4); 
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    user-select: none;
    color: var(--clr-red);
    white-space: nowrap;
    scrollbar-width: thin;
}

.project-tags::-webkit-scrollbar{
    height: 0.5rem;
}

/* INDUVIDUAL PROJECTS */
.solo-project-section{
    background-color: var(--clr-black-5); 
    padding-block: 10rem;
}

.title-container{
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container .section-title{
    margin-bottom: 0;
}

.solo-project-section .section-title{
    padding-right: 2rem;
}

.title-container a{
    background-color: var(--clr-white-2);
    padding: 1rem 1.3rem;
    line-height: 0;
    border-radius: 50rem;
    text-decoration: none;
    border: 1.25px solid var(--clr-black-4);
}

.title-container i{
    font-size: 2.5rem;
    color: var(--clr-black-4);
}

.title-container a:hover{
    border-color: var(--clr-red);
}
.title-container a:hover i{
    color: var(--clr-red);
}

.layout{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; 
}

.slideshow{
    flex: 1;
    min-height: 27.5rem;
    position: relative;
    background-color: var(--clr-grey-1);
}

.slideshow ul{
    list-style: none;
}

.slideshow li{
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slideshow li[data-active]{
    opacity: 1;
}

.slideshow img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.slideshow .slideshow-btn{
    position: absolute;
    z-index: 500;
    font-size: 3.5rem;
    background-color: transparent;
    color: var(--clr-red);
    height: 100%;
    border: 0;
    cursor: pointer;
    padding: 0 2.5rem;
}

.slideshow .slideshow-btn:hover{
    background-color: rgb(0, 0, 0, 0.25);
    color: var(--clr-white-2);
}

.slideshow .next{
    right: 0;
}

.slideshow .pagination{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.slideshow .pagination .dot{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--clr-black-1);
}

.slideshow .pagination .active-dot{
    background-color: var(--clr-red);
}

.layout .btn-container{
    flex-basis: 25rem;
    background-color: var(--clr-black-4);
    border: 1px solid var(--clr-black-3); 
    flex-direction: column;
    align-items: center;
    max-height: 85rem;
    height: 35vw;
}

.layout .btn-container a{
    width: 65%;
    text-align: center;
}

.description{
    background-color: var(--clr-black-2);
    border: 1px solid var(--clr-black-1); 
    padding: 5rem 2.5rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    line-height: 1.75;
}

.description p,
.description .features,
.layout a:nth-child(4){
    margin-top: 5rem; 
}

.description .features h3{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--clr-white-2);
    margin-bottom: 1rem;
}

.description .features ul{
    margin-left: 1.5rem;
}

.description .features li::marker{
    color: var(--clr-red);
}

/* CONTACTS / FOOTER */
.contact-section{
    background-color: var(--clr-black-2); 
    border-top: 1px solid var(--clr-black-1); 
}

.contact-section .container{
    padding: 5rem 0;
}

.contact-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.contact-wrapper .contact-form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.contact-wrapper .form-input{
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    background-color: var(--clr-white-1); 
    border: 1px solid var(--clr-black-3); 
    font-size: 1.4rem;
    box-shadow:  var(--shdw-component);
}

.contact-wrapper .form-textarea{
    font-family: inherit;
    min-height: 10rem;
    resize: vertical;
    scrollbar-width: thin;
}

.form-full-name{
    display: flex;
    gap: 2.5rem;
}

.form-full-name .form-input{
    width: 100%;
}

.contact-wrapper .form-btn{
    width: 50%;
}

.footer-title{
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.contact-wrapper .form-input:focus{
    outline: 3px solid var(--clr-red);
    background-color: var(--clr-white-2);
}

.contact-wrapper .form-input::placeholder{
    letter-spacing: 0.75px;
}

.contact-wrapper .form-textarea::-webkit-scrollbar{
    width: 1.5rem;
}

.footer-navigation ul{
    list-style: none;
}

.footer-navigation li:not(:last-child){
    margin-bottom: 1rem;
}

.footer-navigation a{
    padding: 0.25rem 0;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--clr-red);
    font-size: 1.6rem;
}

.footer-navigation a:hover{
    text-decoration: underline;
    text-decoration-color: var(--clr-white-1);
    text-underline-offset: 6px;
}

.footer-socials{
    background-color: var(--clr-black-3);
    width: fit-content;
    margin: 0 auto;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    padding: 0 5rem;
    border-radius: 15px;
    border: 1px solid var(--clr-black-4); 
    box-shadow:  var(--shdw-component);
    font-size: 2rem;
    color: var(--clr-red);
}
.footer-socials .fa-brands{
    color: var(--clr-red);
}
.fa-instagram{
    font-size: 2.25rem;
}
.footer-socials .fa-brands:hover{
    color: var(--clr-grey-1); 
}

.copyright{
    font-size: 1.2rem;
    background: var(--clr-white-1);
    text-align: center;
    text-transform: capitalize;
    padding: 0.8rem 0;
    color: var(--clr-black-1);
    border-top: 1px solid var(--clr-black-5); 
}

.copyright span{
    font-style: italic;
}


/* ------------------------------------------------------------------------ MEDIA QUERIES */
@media only screen and (max-height: 920px){
    .tooltip-element::after,
    .tooltip-element::before{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    /* GLOBAL */
    .container{
        width: 90%;
    }

    /* ABOUT SECTION */
    .about-section .container > *{
        flex-basis: 100%;
    }
    .about-section .about-img{
        margin-top: 5rem;
    }

    /* CONTACT SECTION */
    .form-full-name{
        gap: 0rem;
        flex-direction: column;
    }
    .contact-wrapper{
        flex-direction: column;
    }
    
    .contact-wrapper .contact-form{
        width: 100%;
        margin-bottom: 7.5rem;
    }

    .footer-socials{
        width: auto;
        justify-content: space-evenly;
    }
}


/* PROJECT SECTION */
@media only screen and (max-width: 1074px){
    .project-img-wrapper{
        height: 35rem;
    }
}
@media only screen and (max-width: 575px){
    .project-img-wrapper{
        height: 25rem;
    }
}


/* SOLO PROJECT PAGE */
@media only screen and (max-width: 1450px){
    .layout{
        flex-direction: column;
    }
    .layout .btn-container{
        flex-direction: row;
        flex-basis: 12.5rem;
    }
    .layout .btn-container a{
        width: 30%;
    }
    .slideshow{
        flex: auto;
        height: 50vw;
    }
}
